<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loding Static Files -->
    {% load static %}
    <!-- Font Awsom Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo/logo.png' %}">
    {% block stylesheet %}
    <!-- Style Sheet -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
    {% block title %}
    <!-- Page Title -->
    <title>Portfolio | Home</title>
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="nav-bar">
        <div class="logo-nav-links">
            <div class="logo-cnt">
                <img src="{% static 'images/logo/logo.png' %}" alt="logo" width="40px">
                <h1 class="logo-name">Portfolio</h1>
            </div>
            <div class="nav-links">
                <a href="{% url 'home' %}" class="nav-link b">Home</a>
                <a href="" class="nav-link b">About</a>
                <a href="" class="nav-link b">Contact</a>
                <a href="" class="nav-link b">Blogs</a>
            </div>
        </div>
        <div class="searchbar-profile-cnt">
            <form class="searchbar-cnt" method="post">
                {% csrf_token %}
                <div class="searchbox">
                    <input type="text" id="search" name="search" placeholder="Type to search" class="search">
                </div>
                <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            {% if not user.is_authenticated %}
                <div class="login-signup-cnt">
                    <a href="{% url 'user_login' %}" class="nav-link"><button type="button" class="signin-signup-btn">Sign In / Sign Up</button></a>
                </div>
            {% else %}
                <div class="user-profile-cnt">
                    <div class="notification">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                    <div class="user-profile-dropdown">
                        <div class="user-profile">
                            <img src="{{ logged_user.profile_picture.url }}" alt="" class="user-profile-photo">
                        </div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-menu-link" href="{% url 'user_profile' user.username %}"><i class="fa-solid fa-user"></i> Profile</a>
                        {% if user.is_staff %}
                        <a class="dropdown-menu-link" href="{% url 'admin:index' %}"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
                        {% endif %}
                        <a class="dropdown-menu-link" href=""><i class="fa-solid fa-gear"></i> Settings</a>
                        <a class="dropdown-menu-link" href="{% url 'user_logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                    </div>
                </div> 
            {% endif %}
        </div>
    </nav>
    {% endblock %}
    <main class="main-cnt">
        {% block main %}
        {% endblock %}
    </main>
    {% block footer %}
    <footer class="footer-cnt">
        <div class="footer-cols">
            <div class="footer-about">
                <h3 class="title">About</h3>
                <p class="about-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sit similique dignissimos minima odio excepturi, possimus, culpa eius aliquid laboriosam reiciendis quos aperiam? Possimus molestiae sunt vitae, quod neque dolor?</p>
                <div class="social-links-icons">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>               
                </div>
            </div>
            <div class="footer-contact-cnt">
                <h3 class="title">Contact Information</h3>
                <div class="contact-details">
                    <p>Have a project idea? Click the button below to email me, and let's make it happen!</p>
                    <p>Let's create something amazing together.</p>
                </div>
                <div class="mail-btn-cnt">
                    <button class="mail-btn" type="button"><i class="fa-solid fa-envelope"></i> Let's Collaborate!</button>
                </div>
            </div>
            <div class="footer-nav-cnt">
                <h3 class="title">Navigations</h3>
                <div class="footer-nav">
                    <a href="" class="footer-nav-link">Home</a>
                    <a href="" class="footer-nav-link">About</a>
                    <a href="" class="footer-nav-link">Contact</a>
                    <a href="" class="footer-nav-link">Blogs</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy;2024 reserved portfolio.com</p>
        </div>
        <div class="footer-logo">
            <img src="{% static 'images/logo/logo.png' %}" alt="logo" width="30px">
            <h2 class="logo-name">Portfolio</h2>
        </div>
    </footer>
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/home.js' %}"></script>
    {% endblock %}
</body>
</html>