{% extends '../base/home.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
<!-- Profile card -->
<div class="profile-header">
    <div class="profile-cnt">
        <div class="profile">
            <div class="profile-photo-cnt">
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="profile-photo">
            </div>
            {% if edit_access %}
            <div class="edit-cnt">
                <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
            </div>
            {% endif %}
        </div>
        <div class="user-identity-cnt">
            <div class="name-cnt">
                <h1 class="name">{{ user_profile.name }} <span class="pronouns">({{ user_profile.pronouns }})</span></h1>
                {% if edit_access %}
                <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                {% endif %}
            </div>
            <h3 class="uname"><i class="fa-regular fa-id-badge"></i> {{ user_profile.user.username }}</h3>
            <p class="dob"><i class="fa-solid fa-cake-candles"></i> {{ user_profile.dob }}</p>
            <div class="location">
                <p><i class="fa-solid fa-location-dot"></i> {{ user_profile.district }}</p>
            </div>
            <div class="btn-cnt">
                {% if user_profile.open_to_work %}
                <span class="open-to-work"><i class="fa-solid fa-briefcase"></i> Open to Work</span>
                {% endif %}
                <a href="{{ user_profile.resume.url }}" download="Resume.pdf"><button type="button" class="resume"><i class="fa-solid fa-file"></i> Resume</button></a>
            </div>
        </div>
    </div>
    <div class="share-cnt">
        <button type="button" class="share-btn">Share <i class="fa-solid fa-arrow-up-from-bracket"></i></button>
    </div>
</div>

<!-- About -->
 {% if user_about %}
<div class="profile-about-cnt">
    <div class="profile-about-title-cnt">
        <h1 class="profile-about-title">{{ user_about.title }}</h1>
        {% if edit_access %}
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
        {% endif %}
    </div>
    <div class="profle-about-me-cnt">
        <p class="profile-about-me">
            {{ user_about.about_me }}
        </p>
    </div>
</div>
{% endif %}

<!-- Experience -->
{% if user_experience %}
<div class="experiences-cnt">
    <div class="experiences-title-cnt">
        <h1 class="experiences-title">Experience <i class="fa-solid fa-briefcase"></i></h1>
        {% if edit_access %}
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
        {% endif %}
    </div>
    <div class="experiences-list">
        <!--  -->
        {% for experience in user_experience %}
        <div class="experience-detail-cnt">
            <div class="experience-detail">
                <div class="job-role-cnt">
                    <h2 class="job-role">{{ experience.title }} | {{ experience.company }}</h2>
                    {% if edit_access %}
                    <div class="edit-cnt">
                        <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                    </div>
                    {% endif %}
                </div>
                <div class="duration">{{ experience.start_date }} - {{ experience.end_date }}</div>
                <div class="experience-description-cnt">
                    <p class="experience-description">{{ experience.description }}</p>
                </div>
            </div>
            {% if edit_access %}
            <form class="del_form" action="{% url 'del_user_experienc' experience.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
        <!--  -->
    </div>
</div>
{% endif %}

<!-- Education -->
{% if user_educations %}
<div class="education-cnt">
    <div class="education-title-cnt">
        <h1 class="education-title">Education <i class="fa-solid fa-graduation-cap"></i></h1>
        {% if edit_access %}
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
        {% endif %}
    </div>
    <div class="education-list">
        <!--  -->
        {% for education in user_educations %}
        <div class="education-detail-cnt">
            <div class="education-detail">
                <div class="education-information-cnt">
                    <div class="institution-name-cnt">
                        <h2 class="institution-name">{{ education.school_name }}</h2>
                        {% if edit_access %}
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <h4 class="degree">{{ education.degree }} <span class="grade">Grade : {{ education.grade }}</span></h4>
                    <p class="area-of-study">{{ education.course }}</p>
                    <p class="duration">{{ education.start_date }} - {{ education.end_date }}</p>
                </div>
            </div>
            {% if edit_access %}
            <form class="del_form" action="{% url 'del_user_education' education.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Certificates -->
{% if user_certificates %}
<div class="certifications-cnt">
    <div class="certification-title-cnt">
        <h1 class="certification-title">Certifications <i class="fa-solid fa-award"></i></h1>
        {% if edit_access %}
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
        {% endif %}
    </div>
    <div class="certificate-list">
        <!--  -->
        {% for certificate in user_certificates %}
        <div class="certificate">
            <div class="certificate-provier-logo-cnt">
                <img src="{% static 'images/icons/certificateicon.png' %}" alt="" class="certificate-provier-logo" width="100px">
            </div>
            <div class="certificate-details-cnt">
                <div class="certificate-details">
                    <div class="certificate-name-cnt">
                        <h2 class="certificate-name">{{ certificate.title }}</h2>
                        {% if edit_access %}
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="issued-details">
                        <h4 class="issued-by">Issued By: {{ certificate.issued_by }}</h4>
                        <p class="issued-by">Issued On: {{ certificate.issued_on }}</p>
                    </div>
                    <a href="{{ certificate.certificate_url }}"><button type="button" class="view-certificate-btn"><i class="fa-solid fa-arrow-up-right-from-square"></i> View Certificate</button></a>
                </div>
                {% if edit_access %}
                <form class="del_form" action="{% url 'del_user_certificate' certificate.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <!--  -->
    </div>
</div>
{% endif %}

<!-- Projects -->
 {% if user_projects %}
<div class="project-cnt">
    <div class="project-title-cnt">
        <h1 class="project-title">Projects <i class="fa-solid fa-gear"></i></h1>
        {% if edit_access %}
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
        {% endif %}
    </div>
    <div class="project-list">
        {% for project in user_projects %}
        <div class="project">
            <div class="project-image-cnt">
                <img src="{% static 'images/icons/projecticon.png' %}" alt="" class="project-provier-logo" width="100px">
            </div>
            <div class="project-details-cnt">
                <div class="project-details">
                    <div class="project-name-cnt">
                        <h2 class="project-name">{{ project.title }}</h2>
                        {% if edit_access %}
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="created-details">
                        <p class="created-on">{{ project.start_date }} - {{ project.end_date }}</p>
                    </div>
                    <div class="certificate-description-cnt">
                        <p class="certificate-description">{{ project.description }}</p>
                    </div>
                    <a href="{{ project.project_url }}"><button type="button" class="view-project-btn"><i class="fa-solid fa-arrow-up-right-from-square"></i> View Project</button></a>
                </div>
                {% if edit_access %}
                <form class="del_form" action="{% url 'del_user_project' project.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Skills -->
 {% if user_skills %}
<div class="profile-skills-cnt">
    <div class="profile-skills-title-cnt">
        <h1 class="profile-skills-title">Skills <i class="fa-solid fa-person-snowboarding"></i></h1>
        {% if edit_access %}
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
        {% endif %}
    </div>
    <div class="profle-skills-list">
        {% for skill in user_skills %}
        <span class="skills {{ skill.proficiency.lower }}">{{ skill.skill }}</span>
        {% endfor %}
    </div>
    <div class="profeciancy-level-cnt">
        <div class="profeciancy-level">
            <div class="circle beginner-level"></div>
            <p>Beginner</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle intermediate-level"></div>
            <p>Intermediate</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle expert-level"></div>
            <p>Expert</p>
        </div>
    </div>
</div>
{% endif %}

<!-- Languages Known -->
 {% if user_languages %}
<div class="languages-known-cnt">
    <div class="languages-known-title-cnt">
        <h1 class="languages-known-title">Languages Known <i class="fa-solid fa-earth-asia"></i></h1>
        {% if edit_access %}
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
        {% endif %}
    </div>
    <div class="languages-known-list">
        {% for language in user_languages %}
        <span class="languages {{ language.proficiency.lower }}">{{ language.language }}</span>
        {% endfor %}
    </div>
    <div class="profeciancy-level-cnt">
        <div class="profeciancy-level">
            <div class="circle beginner-level"></div>
            <p>Beginner</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle intermediate-level"></div>
            <p>Intermediate</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle expert-level"></div>
            <p>Expert</p>
        </div>
    </div>
</div>
{% endif %}

<!-- Testimonials -->
<div class="testimonials-cnt">
    <div class="testimonials-title-cnt">
        <h1 class="testimonials-title">Testimonials <i class="fa-solid fa-comment-dots"></i></h1>
        {% if edit_access %}
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
        {% endif %}
    </div>
    <div class="comments-cnt">
        <div class="comments">
            <h4 class="comment-by">Sathiya G</h4>
            <p class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel molestiae sint? Sunt vel sapiente accusantium illo quos porro delectus consectetur eaque, sit voluptates asperiores a quaerat optio architecto dicta?</p>
        </div>
        <div class="comments">
            <h4 class="comment-by">Jaganathan M</h4>
            <p class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel molestiae sint? Sunt vel sapiente accusantium illo quos porro delectus consectetur eaque, sit voluptates asperiores a quaerat optio architecto dicta?</p>
        </div>
    </div>
</div>
{% endblock %}