{% extends './login.html' %}

{% load static %}

{% block main %}
<form action="" class="form-cnt" method="post">
    {% csrf_token %}
    <div class="form-title">
        <h1 class="title">Sign Up</h1>
    </div>
    <div class="input-cnt">
        <div class="input-box">
            <input type="text" name="email" id="email" placeholder="Enter your Email">
            <i class="fa-regular fa-user"></i>
            <div id="email_error" class="error"></div>
        </div>
        <div class="input-box">
            <input type="text" name="fname" id="fname" placeholder="First Name">
            <i class="fa-solid fa-user-tie"></i>
            <div id="fname_error" class="error"></div>
        </div>
        <div class="input-box">
            <input type="text" name="lname" id="lname" placeholder="Last Name">
            <i class="fa-solid fa-user"></i>
            <div id="lname_error" class="error"></div>
        </div>
        <div class="input-box">
            <input type="password" name="password" id="password" placeholder="Password">
            <i class="fa-solid fa-lock"></i>
            <div id="password_error" class="error"></div>
        </div>
        <div class="input-box">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
            <i class="fa-solid fa-check"></i>
            <div id="confirm_password_error" class="error"></div>
        </div>
    </div>
    <div class="form-links-cnt">
        <div class="form-links">
            <div class="signin">
                <p>Already have an account? <a href="{% url 'user_login' %}">Sign In</a></p>
            </div>
        </div>
    </div>
    <div class="submit-cnt">
        <input type="submit" value="Sign In" class="signup signin-btn">
    </div>
</form>
{% endblock %}

{% block script %}
<!-- Script file -->
<script src="{% static 'js/signin.js' %}"></script>
{% endblock %}